services:

  # nginx:
  #   build: ./frontend
  #   ports:
  #     - "8082:443"
  #   depends_on:
  #     - gateway
  #   networks:
  #     - backend

  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - gateway
    networks:
      - backend

  gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    env_file:
      - ./gateway/.env
    depends_on:
      - auth-service
    networks:
      - backend
  
  auth-service:
    build: ./auth-service
    expose:
      - "8081"
    networks:
      - backend
    
  user-management-service:
    build: ./user-managment
    expose:
      - "8082"
    networks:
      - backend

  livechat-service:
    build: ./chat-service
    expose:
      - "8083"
    networks:
      - backend

  pong-service:
    build:
      context: ./server-side-pong
      dockerfile: Dockerfile
    container_name: trascendence-pong-service
    env_file:
      - ./server-side-pong/.env
    ports:
      - "3000:3000"
    networks:
      - backend


networks:
  backend:
    name: backend
    driver: bridge